.admin-layout{
  &-left{
    width: 250px;
    .menu{
      .nav-item{
        padding: 0.25rem 0;
        .nav-link{
          padding: 6px 1.25rem;
          color: #888888;
          position: relative;

          &:after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            height: 0;
            margin: auto 0;
            width: 3px;
            background-color: red;
            transition: all 0.4s linear;
          }

          &:hover, &.active{
            color: #000000;
            &:after{
              height: 100%;
            }
          }
        }
      }
    }
  }
  &-right{
    width: calc(100% - 250px);
  }
}