.courseSection{
  .course-card{
    height: max-content;
    &_img{
      background: linear-gradient(to right, rgba(0,0,0, 0.1), rgba(0, 0, 0, 0.2)), url("../assets/images/cardimage1.png") center / cover no-repeat;

      &_pop{
        background-color: rgba(255, 255, 255, .40);
        backdrop-filter: blur(2px);
      }
    }
  }
}