.courseSection{
  .course-card{
    height: max-content;
    &_img{

      &_pop{
        background-color: rgba(255, 255, 255, .40);
        backdrop-filter: blur(2px);
      }
    }
  }
}