.courseSection{
  .course-card{
    &_img{
      background: linear-gradient(to right, rgba(0,0,0, 0.6), rgba(0, 0, 0, 0.6)), url("../assets/images/russian.jpg") center / cover no-repeat;
      border-top-left-radius: 1rem;
      border-top-right-radius: 1rem;

      &_pop{
        background-color: rgba(255, 255, 255, .40);
        backdrop-filter: blur(2px);
      }
    }
  }
}