.aboutUsImage{
  overflow: hidden;

  .btn{
    background: linear-gradient(to top, rgba(0,0,0, 0.4), rgba(0,0,0, 0.4)), url("../assets/images/main biz haqimzda.png") center / cover no-repeat;
    transition: .7s ease-in-out;
    transform: scale(1);

    &:hover{
      transform: scale(1.2);
    }
  }
}