.navigationBar{
  position: relative;
  @media only screen and (max-width:1023px){
    .nav-link{
        display: flex;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        padding:  20px;
        justify-content: center;
        align-items: center;
        gap: 15px;
        position: absolute;
        display: flex;
        z-index: 99;
        top: 100%;
        left: 0;
        width: 100%;
        transition: all .4s ease;
        background: linear-gradient(to right, rgba(0, 136, 255, 0.9), rgba(0, 136, 255, 0.9));
        flex-wrap: wrap;
    }
    .nav-link.show{
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
      position: absolute;
      display: flex;
      z-index: 99;
      top: 100%;
      left: 0;
      width: 100%;
      
      
  
  }
}

  .dropdown{
    position: relative;

    .dropdown-menu {
      position: absolute;
      left: -.25rem;
      top: 2rem;
      z-index: 1;
      background: #ffffff;
      border-radius: .25rem;
      box-shadow: 0 2px 5px 0 rgba(255, 255, 255, 1);
      opacity: 0;
      pointer-events: none;
      transform: translateY(-20px);
      transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
    }
    .dropdown-menu.active{
      opacity: 1;
      transform: translateY(0);
      pointer-events: auto;
    }
    .angelDown.rotateTop{
      transition: all .5s ease-in-out;
      transform: rotate(-180deg);
    }
  }
}