.navigationBar{
  position: relative;
  .link-wrapper {
    position: absolute;
    display: block;
    z-index: 99;
    top: 0;
    right: 0;
    width: 300px;
    height: 100vh;
    background: linear-gradient(to right, rgba(0, 136, 255, 0.9), rgba(0, 136, 255, 0.9));


    .links{
      transition: .3s ease-in-out;
      @media (max-width: 1301px) {
        font-size: 0.875rem;
        line-height: 1.25rem;
      }
      @media (max-width: 1070px) {
        padding: 0 1rem;
      }
    }
  }


  .dropdown{
    position: relative;

    .dropdown-menu {
      position: absolute;
      left: -.25rem;
      top: 2rem;
      z-index: 1;
      background: #ffffff;
      border-radius: .25rem;
      box-shadow: 0 2px 5px 0 rgba(255, 255, 255, 1);
      opacity: 0;
      pointer-events: none;
      transform: translateY(-20px);
      transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
    }
    .dropdown-menu.active{
      opacity: 1;
      transform: translateY(0);
      pointer-events: auto;
    }
    .angelDown.rotateTop{
      transition: all .5s ease-in-out;
      transform: rotate(-180deg);
    }
  }
}