 

.card_img{
  top: -12rem;
  right: 20%;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: 1480px) {
    top: -8rem;
  }
}

.unActive{
  &:before{
    content: 'Afsus kursga qabul tugagan iltimos keyingi guruhni kuting..!';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 50;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #3B82F6;
    font-size: 40px;
    color: white;
    font-weight: bold;
    font-family: sans-serif;
    @media only screen and (max-width:768px){
      text-align: center;
    }
    @media only screen and (max-width:550px){
      font-size:32px;
    }
    @media only screen and (max-width:400px){
      font-size:25px;
    }
  }
}

.empty{
  &:before{
    content: 'Bu kursga guruh ochilmagan';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 50;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #3B82F6;
    font-size: 40px;
    color: white;
    font-weight: bold;
    font-family: sans-serif;
    @media only screen and (max-width:768px){
      text-align: center;
    }
    @media only screen and (max-width:550px){
      font-size:32px;
    }
    @media only screen and (max-width:400px){
      font-size:25px;
    }
  }
}
.empty_Individuals{
  &:before{
    content: 'Bu kursga individual guruh ochilmagan';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 50;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #3B82F6;
    font-size: 40px;
    color: white;
    font-weight: bold;
    font-family: sans-serif;
    @media only screen and (max-width:768px){
      text-align: center;
    }
    @media only screen and (max-width:550px){
      font-size:32px;
    }
    @media only screen and (max-width:400px){
      font-size:25px;
    }
  }
}