.bg{
    background-color: #0086C5;
}
/*contact styles*/
.left{
    flex: 1;
}
.right{
    flex: 2;
}
.color-primary{
    color: #0086C5;
}

/* slider styles*/
.slick-track {
    display: flex;
    gap: 30px;
    padding: 50px 0;
  
   .slick-center {
        transform: scale(1.1);
    }
}
.slick-arrow::before{
    font-size: 40px;
   color: #0086C5;
}
.slick-prev{
    left: 45%;
    bottom: -20px;
    z-index: 23;
    top: auto;
}
.slick-next{
    right: 45%;
    bottom: -20px;
    z-index: 23;
    top: auto;
}

@media only screen and (max-width:590px){
    .slick-prev{
        left: 40%;
    }
    .slick-next{
        right: 40%;
    }
}