body{
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1),  rgba(0, 0, 0, 0.1)), url("./assets/images/bodyBackground-5.png") center / cover no-repeat;

  .container{
    @media ( max-width: 1650px ) {
      max-width: 1450px;
    }
    @media ( max-width: 1500px ) {
      max-width: 1200px;
    }
    @media ( max-width: 1300px ) {
      max-width: 1070px;
    }
    @media ( max-width: 1070px ) {
      max-width: 1020px;
    }
    @media ( max-width: 1024px ) {
      padding: 0 10px;
    }
  }
}